*{margin:0;padding:0;font:inherit;line-height:1em;border:0;outline:0;}
body{max-width:200px;margin:0 auto;}
h1{font-family:Domine;font-weight:bold;line-height:1.6em;}
.click{outline:1px dashed blue;cursor:pointer;}
.diapasón{max-width:200px;}
.nueva{font-family:Domine;font-style:oblique;line-height:1.2em;padding:.4em;margin-top:10px;}
.diapasón,.nueva{float:left;clear:both;}
canvas{cursor:pointer;}

@media (min-width:280px) {
	body,.diapasón{max-width:280px;}
	h1, .nueva{font-size:1.4em;}
}
@media (min-width:420px) {
	body,.diapasón{max-width:420px;}
}
@media (min-width:540px) {
	body,.diapasón{max-width:520px;}
	h1{font-size:2.5em;}
	.nueva{font-size:2em;}
	.nueva,.diapasón{clear:none;}
	.nueva{margin-top:0;margin-left:10px;line-height:1em;}
}
@media (min-width:800px) {
	body,.diapasón{max-width:780px;}
	h1{font-size:4em;}
	.nueva{font-size:2.5em;}
}